<?xml version="1.0" encoding="UTF-8"?>

    <manifest package="com.example.broadcasttest" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application android:theme="@style/AppTheme" android:supportsRtl="true" android:label="@string/app_name" android:icon="@mipmap/ic_launcher" android:allowBackup="true">


    <activity android:name=".MainActivity">


    <intent-filter>

    <action android:name="android.intent.action.MAIN"/>

    <category android:name="android.intent.category.LAUNCHER"/>

</intent-filter>

</activity>


    <receiver android:name=".BootCompleteReceiver" android:exported="true" android:enabled="true">


    <intent-filter>

    <action android:name="android.intent.action.BOOT_COMPLETED"/>

</intent-filter>

</receiver>


    -<receiver android:name=".MyBroadcastReceiver" android:exported="true" android:enabled="true">


    -<intent-filter android:priority="100">

    <action android:name="com.example.broadcasttest.MY_BROADCAST"/>

</intent-filter>

</receiver>

</application>

</manifest>